@model MyCat_BaseDeArchitectureDotNet_ASP_Net_Core_MVC6.Service.Produit 
@{
    ViewBag.title = "Saisie d'un Produit";
}


<div class="container spacer">

    <form asp-coontroller="Produit" asp-action="SaveProduit" method="post">
        <div class="form-group">
            @Html.LabelFor(p => p.Designation, new { @class = "control-label" }) 
            @Html.TextBoxFor(p => p.Designation, new { @class = "form-control" }) 
            @Html.ValidationMessageFor(p => p.Designation, "", new { @class = "text-danger" }) 
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.Prix, new { @class = "control-label" }) 
            @Html.TextBoxFor(p => p.Prix, new { @class = "form-control" }) 
            @Html.ValidationMessageFor(p => p.Prix, "", new { @class = "text-danger" }) 
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>

</div> 


<!--
<div class="container spacer">

    <form asp-coontroller="Produit" asp-action="SaveProduit" method="post">

        <div class="form-group">
            <label class="control-label">Designation :</label>
            <input type="text" name="designation" value="Model.Designation" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">Prix :</label>
            <input type="text" name="prix" value="Model.Prix" class="form-control" />
        </div>
        <div class="form-group">
             <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>

</div>
    -->
